.box{
    border: 2px solid red;
    background: red;
    width: 100px;
    height: 100px;
}

html{
    background: grey;
    padding: 5%;
}

.sm-expand:hover{
    
    transform: scale(1.2);
    transition: all 0.7s 0.1s;
}

.md-expand:hover{
    transform: scale(1.4);
    transition: all 0.7s 0.1s;
}

.lg-expand:hover{
    transform: scale(1.6);
    transition: all 0.7s ease-in-out;;
}

.sm-rotate:hover{
    transform: rotate(1080deg) scale(1.4);
    transition: all 2s ease-in;
    background-color: yellow;
}
.sm-rotate{
    /* transform: rotate(1080deg);
    transition: all 3s; */
    transition: all 2s ease-out;
    
}

@keyframes change{
    from {background-color: red;}
    to {background-color: yellow;}
}

.colorchange:hover{
    background-color: red;
    animation-name: change;
    animation-duration: 1s;
}
