/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* keep the width mobile friendly no side scrolling  */
body{
    width: 100%;
    /* height: 500px; */
    overflow-x: hidden;
}

/* a container to prevent content appearing behind the slideshow. 
making it a block elements counter act the absolute positioning */
.slide-container{
    display: block;
    width: 100%;
    height: 75vh;
    z-index: 10000;
}

/* an Overlay to turn all images to a shade of light green. */
.slide-overlay{
    display: inline-block;
    opacity: 0.6;
    background-color:lightgreen;
    position: absolute;
    width: 100%;
    height: 75%;
    z-index: 10000;
    left: 0;
    top: 0;
}


.slideshow .slideshow-img{
    left: 0;
    top: 0;
    overflow: hidden;
    object-fit: cover;
    height: 75%;
    width: 100%;
    position: absolute; /* layers the pictures on top of each other. */
    opacity: 0;
    -webkit-animation: slideshow-fade 25s infinite;
    animation: slideshow-fade 25s infinite;
    z-index: 1000;

}

.slideshow .slideshow-img:nth-child(2){
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.slideshow .slideshow-img:nth-child(3){
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
.slideshow .slideshow-img:nth-child(4){
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
}
.slideshow .slideshow-img:nth-child(5){
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

/* Animation changing opacity */
@-webkit-keyframes slideshow-fade{
    from{opacity: 0;}
    5%{opacity: 1;}
    15%{opacity: 1;}
    20%{opacity: 0;}
    to{opacity: 0;}
}
@keyframes slideshow-fade{
    from{opacity: 0;}
    5%{opacity: 1;}
    15%{opacity: 1;}
    20%{opacity: 0;}
    to{opacity: 0;}
}
